services:
  qashare:
    image: ghcr.io/pranaovs/qashare:main
    container_name: qashare
    restart: always
    expose:
      - "8080"
    environment:
      - DB_URL=postgres://${DB_USER:-postgres}:${DB_PASSWORD:-postgres}@postgres:5432/${DB_NAME:-qashare}
      - JWT_SECRET=6b721e2b3c4239e30c33607532e312bd60644f92296f979f03f57a6cdd346547f0b68c3e5c15f8b131366a2ab13c8059b7c39108f0892e9991418314f314d1b8
      - JWT_EXPIRY=432000
      - GIN_MODE=release
      - API_PUBLIC_URL=https://qashare.pranaovs.me
    depends_on:
      - postgres

    labels:
      # Traefik
      - "traefik.enable=true"

      - "traefik.http.routers.qashare-https.rule=Host(`qashare.pranaovs.me`)"
      - "traefik.http.routers.qashare-https.entrypoints=websecure"
      - "traefik.http.routers.qashare-https.service=qashare"

      - "traefik.http.routers.qashare-ts.rule=Host(`qashare.devserver.ts.net`) || Host(`qashare.devserver`)"
      - "headnscale.subdomain=qashare"
      - "traefik.http.routers.qashare-ts.entrypoints=web"
      - "traefik.http.routers.qashare-ts.service=qashare"

      - "traefik.http.services.qashare.loadbalancer.server.port=8080"
      - "traefik.docker.network=traefik_net"
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"
      # Podman Auto-Update
      - "io.containers.autoupdate=registry"
    networks:
      - default
      - traefik_net

  postgres:
    image: postgres:18-alpine
    restart: always
    expose:
      - "5432"
    environment:
      - POSTGRES_USER=${DB_USER:-postgres}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-postgres}
      - POSTGRES_DB=${DB_NAME:-qashare}
    volumes:
      - ./data:/var/lib/postgresql:Z,U
    networks:
      - default

networks:
  traefik_net:
    external: true
