# Ignore everything in nested subdirectoies
*/*

# Un-ignore specific files inside those subdirectories
!*/docker-compose.yml
!*/Dockerfile

# Un-ignore .gitignore files
!.gitignore
!*/.gitignore

# Ignore repo
minecraft-server-docker/
