https://photos.pranaovs.me:443 {
    reverse_proxy immich_server:2283
}

https://immich.pranaovs.me:443 {
    reverse_proxy immich_server:2283
}

https://headscale.pranaovs.me:443 {
    reverse_proxy headscale:8080
}

https://bitwarden.deepanalve.dev:443 {
    reverse_proxy vaultwarden:80
}

https://vaultwarden.deepanalve.dev:443 {
    reverse_proxy vaultwarden:80
  }
