services:
  watchtower:
    image: nickfedor/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
    command: --cleanup --label-enable --interval 3600
    security_opt:
      - label=type:spc_t
    labels:
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"
      # Podman Auto-Update
      - "io.containers.autoupdate=registry"

