services:
  caddy:
    image: caddy:latest
    container_name: caddy_file_server
    restart: always
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
      - ${SHARE_DIR}:/mnt
    labels:
      com.centurylinklabs.watchtower.enable: "true"

volumes:
  caddy_data:
  caddy_config:

networks:
  default:
    name: caddy_net
    external: true
