services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    init: true # needed, if healthcheck is used. Prevents zombie processes
    environment:
      TZ: Asia/Kolkata
      NTFY_BASE_URL: "https://ntfy.pranaovs.me"
      NTFY_CACHE_FILE: /var/lib/ntfy/cache.db
      NTFY_CACHE_DURATION: 48h
      NTFY_BEHIND_PROXY: true
      NTFY_ATTACHMENT_CACHE_DIR: /var/lib/ntfy/attachments
      NTFY_AUTH_DEFAULT_ACCESS: deny-all
    user: root
    healthcheck: # optional: remember to adapt the host:port to your environment
      test:
        [
          "CMD-SHELL",
          "wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1",
        ]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 40s
    volumes:
      - ./data:/var/cache/ntfy
      - ./config:/etc/ntfy
    expose:
      - "80"
    restart: always
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.http.routers.ntfy.rule=Host(`ntfy.pranaovs.me`) || Host(`notify.pranaovs.me`)"
      - "traefik.docker.network=traefik_net"
      - "traefik.http.services.ntfy.loadbalancer.server.port=80"
      - "traefik.http.routers.ntfy.entrypoints=websecure"
      - "traefik.http.routers.ntfy.tls=true"
      - "traefik.http.routers.ntfy.tls.certresolver=le"
      # AutoKuma (uptime-kuma)
      - "kuma.ntfy_grp.group.name=ntfy"
      - "kuma.ntfy_http_1.http.name=ntfy (ntfy.pranaovs.me)"
      - "kuma.ntfy_http_1.http.url=https://ntfy.pranaovs.me"
      - "kuma.ntfy_http_1.http.parent_name=ntfy_grp"
      - "kuma.ntfy_http_2.http.name=ntfy (notify.pranaovs.me)"
      - "kuma.ntfy_http_2.http.url=https://notify.pranaovs.me"
      - "kuma.ntfy_http_2.http.parent_name=ntfy_grp"
      - "kuma.ntfy_container.docker.name=ntfy Container"
      - "kuma.ntfy_container.docker.docker_container=ntfy"
      - "kuma.ntfy_container.docker.docker_host_name=local"
      - "kuma.ntfy_container.docker.parent_name=ntfy_grp"

networks:
  traefik_net:
    external: true
