services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: always
    ports:
      - "30087:80"
    expose:
      - "80"
    volumes:
      - ./vw-data/:/data/
    environment:
      DOMAIN: "https://vaultwarden.pranaovs.me"
      SIGNUPS_ALLOWED: false
    env_file:
      - .env
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.http.routers.vaultwarden.rule=Host(`vaultwarden.pranaovs.me`) || Host(`bitwarden.pranaovs.me`) || Host(`passwords.pranaovs.me`)"
      - "traefik.http.services.vaultwarden.loadbalancer.server.port=80"
      - "traefik.http.routers.vaultwarden.entrypoints=websecure"
      - "traefik.http.routers.vaultwarden.middlewares=anubis@docker"
      # AutoKuma (uptime-kuma)
      - "kuma.vaultwarden_grp.group.name=Vaultwarden"
      - "kuma.vaultwarden_http_1.http.name=Vaultwarden (vaultwarden.pranaovs.me)"
      - "kuma.vaultwarden_http_1.http.url=https://vaultwarden.pranaovs.me"
      - "kuma.vaultwarden_http_1.http.parent_name=vaultwarden_grp"
      - "kuma.vaultwarden_http_2.http.name=Vaultwarden (bitwarden.pranaovs.me)"
      - "kuma.vaultwarden_http_2.http.url=https://bitwarden.pranaovs.me"
      - "kuma.vaultwarden_http_2.http.parent_name=vaultwarden_grp"
      - "kuma.vaultwarden_http_3.http.name=Vaultwarden (passwords.pranaovs.me)"
      - "kuma.vaultwarden_http_3.http.url=https://passwords.pranaovs.me"
      - "kuma.vaultwarden_http_3.http.parent_name=vaultwarden_grp"
      - "kuma.vaultwarden_container.docker.name=Vaultwarden Container"
      - "kuma.vaultwarden_container.docker.docker_container=vaultwarden"
      - "kuma.vaultwarden_container.docker.docker_host_name=local"
      - "kuma.vaultwarden_container.docker.parent_name=vaultwarden_grp"
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - traefik_net

networks:
  traefik_net:
    external: true
