global:
  sendAnonymousUsage: true

api:
  dashboard: true
  insecure: true
  debug: false

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: le
      middlewares:
        - crowdsec@docker

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    exposedByDefault: false
    endpoint: "unix:///var/run/docker.sock"

certificatesResolvers:
  le:
    acme:
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web

log:
  level: INFO # can be DEBUG, INFO, WARN, ERROR
  format: common # or json
  filePath: "" # empty means stdout

accessLog:
  format: common # or json
  # bufferingSize: 0 # disable buffering, send directly to stdout
  filePath: /var/log/traefik/access.log

experimental:
  plugins:
    crowdsec-bouncer:
      moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      version: "v1.4.7"
