services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    init: true
    user: root
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1",
        ]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 40s
    volumes:
      - ./config:/etc/ntfy
      - ./data:/var/lib/ntfy
      - ntfy_cache:/var/cache/ntfy
    expose:
      - "80"
    restart: always
    env_file: .env
    networks:
      - traefik_net
    environment:
      - TZ=Asia/Kolkata

    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.http.routers.ntfy-https.rule=Host(`ntfy.pranaovs.me`) || Host(`notify.pranaovs.me`)"
      - "traefik.http.routers.ntfy-https.entrypoints=websecure"
      - traefik.http.routers.ntfy-https.service=ntfy

      - "traefik.http.routers.ntfy-ts.rule=Host(`ntfy.devserver.ts.net`) || Host(`ntfy.devserver`) || Host(`notify.devserver.ts.net`) || Host(`notify.devserver`)"
      - headnscale.subdomain=ntfy|notify
      - "traefik.http.routers.ntfy-ts.entrypoints=web"
      - traefik.http.routers.ntfy-ts.service=ntfy

      - "traefik.http.services.ntfy.loadbalancer.server.port=80"
      - "traefik.docker.network=traefik_net"
      # AutoKuma (uptime-kuma)
      - "kuma.ntfy_grp.group.name=ntfy"
      - 'kuma.ntfy_grp.group.notification_name_list=["ntfy"]'
      - "kuma.ntfy_http_1.http.name=ntfy (ntfy.pranaovs.me)"
      - "kuma.ntfy_http_1.http.url=https://ntfy.pranaovs.me"
      - "kuma.ntfy_http_1.http.parent_name=ntfy_grp"
      - "kuma.ntfy_http_2.http.name=ntfy (notify.pranaovs.me)"
      - "kuma.ntfy_http_2.http.url=https://notify.pranaovs.me"
      - "kuma.ntfy_http_2.http.parent_name=ntfy_grp"
      - "kuma.ntfy_container.docker.name=ntfy Container"
      - "kuma.ntfy_container.docker.docker_container=ntfy"
      - "kuma.ntfy_container.docker.docker_host_name=local"
      - "kuma.ntfy_container.docker.parent_name=ntfy_grp"

volumes:
  ntfy_cache:

networks:
  traefik_net:
    external: true
