services:
  webdav:
    image: "ghcr.io/hacdias/webdav:latest"
    container_name: webdav
    ports:
      - "30094:6065"
    volumes:
      - ./data:/data
      - ./config:/config:ro
    env_file: .env
    command: ["-c", "/config/config.yml"]
    restart: always
    labels:
      # AutoKuma (uptime-kuma)
      - "kuma.webdav_grp.group.name=WebDAV"
      - "kuma.webdav_container.docker.name=WebDAV Container"
      - "kuma.webdav_container.docker.docker_container=webdav"
      - "kuma.webdav_container.docker.docker_host_name=local"
      - "kuma.webdav_container.docker.parent_name=webdav_grp"
