services:
  jellyfin:
    image: alpine/socat:latest
    container_name: jellyfin_proxy
    restart: always
    command: "TCP-LISTEN:8080,fork,reuseaddr TCP:devbox:8096"
    expose:
      - "8080"
    extra_hosts:
      - "devbox:100.64.0.1"
    networks:
      - traefik_net
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin_proxy.rule=Host(`jellyfin.pranaovs.me`) || Host(`anime.pranaovs.me`)"
      - "traefik.docker.network=traefik_net"
      - "traefik.http.services.jellyfin_proxy.loadbalancer.server.port=8080"
      - "traefik.http.routers.jellyfin_proxy.entrypoints=websecure"
      - "traefik.http.routers.jellyfin_proxy.tls=true"
      - "traefik.http.routers.jellyfin_proxy.tls.certresolver=le"
      # AutoKuma (uptime-kuma)
      - "kuma.jellyfinproxy_grp.group.name=Jellyfin Proxy"
      - "kuma.jellyfinproxy_http_1.http.name=Jellyfin Proxy (jellyfin.pranaovs.me)"
      - "kuma.jellyfinproxy_http_1.http.url=https://jellyfin.pranaovs.me"
      - "kuma.jellyfinproxy_http_1.http.interval=3600"
      - "kuma.jellyfinproxy_http_1.http.parent_name=jellyfinproxy_grp"
      - "kuma.jellyfinproxy_http_2.http.name=Jellyfin Proxy (anime.pranaovs.me)"
      - "kuma.jellyfinproxy_http_2.http.url=https://anime.pranaovs.me"
      - "kuma.jellyfinproxy_http_2.http.interval=3600"
      - "kuma.jellyfinproxy_http_2.http.parent_name=jellyfinproxy_grp"
      - "kuma.jellyfinproxy_container.docker.name=Jellyfin Proxy Container"
      - "kuma.jellyfinproxy_container.docker.docker_container=jellyfin_proxy"
      - "kuma.jellyfinproxy_container.docker.docker_host_name=local"
      - "kuma.jellyfinproxy_container.docker.parent_name=jellyfinproxy_grp"

networks:
  traefik_net:
    external: true
