services:
  jellyfin:
    image: "jellyfin/jellyfin:latest"
    container_name: jellyfin
    restart: always
    expose:
      - "8096"
    volumes:
      - /home/personal/jellyfin/config:/config:Z,U
      - /home/personal/jellyfin/cache:/cache:Z,U
      - type: bind
        source: /home/personal/Videos/Anime
        target: /media/anime
        read_only: true
        bind:
          selinux: z
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.pranaovs.me
    networks:
      - traefik_net
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin-https.rule=Host(`jellyfin.pranaovs.me`) || Host(`anime.pranaovs.me`)"
      - "traefik.http.routers.jellyfin-https.entrypoints=websecure"
      - "traefik.http.routers.jellyfin-https.service=jellyfin"

      - "traefik.http.routers.jellyfin-ts.rule=Host(`jellyfin.devserver.ts.net`) || Host(`anime.devserver.ts.net`) || Host(`jellyfin.devserver`) || Host(`anime.devserver`)"
      - "headnscale.subdomain=jellyfin|anime"
      - "traefik.http.routers.jellyfin-ts.entrypoints=web"
      - "traefik.http.routers.jellyfin-ts.service=jellyfin"

      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
      - "traefik.docker.network=traefik_net"
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"
      # Podman Auto-Update
      - "io.containers.autoupdate=registry"

  jellyfin-proxy:
    image: alpine/socat:latest
    container_name: jellyfin_proxy
    restart: always
    command: "TCP-LISTEN:8080,fork,reuseaddr TCP:devbox:8096"
    expose:
      - "8080"
    extra_hosts:
      - "devbox:100.64.0.1"
    networks:
      - traefik_net
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin_proxy.rule=Host(`proxy.jellyfin.pranaovs.me`) || Host(`proxy-jellyfin.pranaovs.me`) || Host(`proxy.anime.pranaovs.me`) || Host(`proxy-anime.pranaovs.me`) || Host(`jellyfinproxy.pranaovs.me`)"
      - "traefik.docker.network=traefik_net"
      - "traefik.http.services.jellyfin_proxy.loadbalancer.server.port=8080"
      - "traefik.http.routers.jellyfin_proxy.entrypoints=websecure"
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"
      # Podman Auto-Update
      - "io.containers.autoupdate=registry"

networks:
  traefik_net:
    external: true
