services:
  jellyfin:
    image: "jellyfin/jellyfin:latest"
    container_name: jellyfin
    expose:
      - "8096"
    volumes:
      - /home/personal/jellyfin/config:/config:Z
      - /var/cache/jellyfin:/cache:Z
      - type: bind
        source: /home/personal/Videos/Anime
        target: /media/anime
        read_only: true
        bind:
          selinux: z
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.pranaovs.me
    networks:
      - traefik_net
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin-https.rule=Host(`jellyfin.pranaovs.me`) || Host(`anime.pranaovs.me`)"
      - "traefik.http.routers.jellyfin-https.entrypoints=websecure"
      - "traefik.http.routers.jellyfin-https.middlewares=anubis@docker"
      - "traefik.http.routers.jellyfin-https.service=jellyfin"

      - "traefik.http.routers.jellyfin-ts.rule=Host(`jellyfin.devserver.ts.net`) || Host(`anime.devserver.ts.net`) || Host(`jellyfin.devserver`) || Host(`anime.devserver`)"
      - "headnscale.subdomain=jellyfin|anime"
      - "traefik.http.routers.jellyfin-ts.entrypoints=web"
      - "traefik.http.routers.jellyfin-ts.service=jellyfin"

      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
      - "traefik.docker.network=traefik_net"
      # AutoKuma (uptime-kuma)
      - "kuma.jellyfin_grp.group.name=Jellyfin"
      - "kuma.jellyfin_http_1.http.name=Jellyfin (jellyfin.pranaovs.me)"
      - "kuma.jellyfin_http_1.http.url=https://jellyfin.pranaovs.me"
      - "kuma.jellyfin_http_1.http.parent_name=jellyfin_grp"
      - "kuma.jellyfin_http_2.http.name=Jellyfin (anime.pranaovs.me)"
      - "kuma.jellyfin_http_2.http.url=https://anime.pranaovs.me"
      - "kuma.jellyfin_http_2.http.parent_name=jellyfin_grp"
      - "kuma.jellyfin_container.docker.name=Jellyfin Container"
      - "kuma.jellyfin_container.docker.docker_container=jellyfin"
      - "kuma.jellyfin_container.docker.docker_host_name=local"
      - "kuma.jellyfin_container.docker.parent_name=jellyfin_grp"
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"

  jellyfin-proxy:
    image: alpine/socat:latest
    container_name: jellyfin_proxy
    restart: always
    command: "TCP-LISTEN:8080,fork,reuseaddr TCP:devbox:8096"
    expose:
      - "8080"
    extra_hosts:
      - "devbox:100.64.0.1"
    networks:
      - traefik_net
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin_proxy.rule=Host(`proxy.jellyfin.pranaovs.me`) || Host(`proxy-jellyfin.pranaovs.me`) || Host(`proxy.anime.pranaovs.me`) || Host(`proxy-anime.pranaovs.me`) || Host(`jellyfinproxy.pranaovs.me`)"
      - "traefik.docker.network=traefik_net"
      - "traefik.http.services.jellyfin_proxy.loadbalancer.server.port=8080"
      - "traefik.http.routers.jellyfin_proxy.entrypoints=websecure"
      - "traefik.http.routers.jellyfin_proxy.middlewares=anubis@docker"
      # AutoKuma (uptime-kuma)
      - "kuma.jellyfinproxy_grp.group.name=Jellyfin Proxy"
      - "kuma.jellyfinproxy_http_1.http.name=Jellyfin Proxy (proxy.jellyfin.pranaovs.me)"
      - "kuma.jellyfinproxy_http_1.http.url=https://proxy.jellyfin.pranaovs.me"
      - "kuma.jellyfinproxy_http_1.http.interval=3600"
      - "kuma.jellyfinproxy_http_1.http.retry_interval=60"
      - "kuma.jellyfinproxy_http_1.http.parent_name=jellyfinproxy_grp"
      - "kuma.jellyfinproxy_http_2.http.name=Jellyfin Proxy (proxy-jellyfin.pranaovs.me)"
      - "kuma.jellyfinproxy_http_2.http.url=https://proxy-jellyfin.pranaovs.me"
      - "kuma.jellyfinproxy_http_2.http.interval=3600"
      - "kuma.jellyfinproxy_http_2.http.retry_interval=60"
      - "kuma.jellyfinproxy_http_2.http.parent_name=jellyfinproxy_grp"
      - "kuma.jellyfinproxy_http_3.http.name=Jellyfin Proxy (proxy.anime.pranaovs.me)"
      - "kuma.jellyfinproxy_http_3.http.url=https://proxy.anime.pranaovs.me"
      - "kuma.jellyfinproxy_http_3.http.interval=3600"
      - "kuma.jellyfinproxy_http_3.http.retry_interval=60"
      - "kuma.jellyfinproxy_http_3.http.parent_name=jellyfinproxy_grp"
      - "kuma.jellyfinproxy_http_4.http.name=Jellyfin Proxy (proxy-anime.pranaovs.me)"
      - "kuma.jellyfinproxy_http_4.http.url=https://proxy-anime.pranaovs.me"
      - "kuma.jellyfinproxy_http_4.http.interval=3600"
      - "kuma.jellyfinproxy_http_4.http.retry_interval=60"
      - "kuma.jellyfinproxy_http_4.http.parent_name=jellyfinproxy_grp"
      - "kuma.jellyfinproxy_http_5.http.url=https://jellyfinproxy.pranaovs.me"
      - "kuma.jellyfinproxy_http_5.http.interval=3600"
      - "kuma.jellyfinproxy_http_5.http.retry_interval=60"
      - "kuma.jellyfinproxy_http_5.http.parent_name=jellyfinproxy_grp"
      - "kuma.jellyfinproxy_container.docker.name=Jellyfin Proxy Container"
      - "kuma.jellyfinproxy_container.docker.docker_container=jellyfin_proxy"
      - "kuma.jellyfinproxy_container.docker.docker_host_name=local"
      - "kuma.jellyfinproxy_container.docker.parent_name=jellyfinproxy_grp"
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"

networks:
  traefik_net:
    external: true
