services:
  shadowsocks:
    image: quay.io/outline/shadowbox:stable
    container_name: shadowsocks
    restart: always
    ports:
      - "30042:80/tcp" # Management API
      - "443:443/udp" # Access key port (UDP)
      # - "${SB_KEYS_PORT}:${SB_KEYS_PORT}/tcp"   # Access key port (TCP)
    expose:
      - "443"
    environment:
      - SB_API_PORT=80
      - SB_STATE_DIR=/data
      - SB_API_PREFIX=${SB_API_PREFIX}
      - SB_CERTIFICATE_FILE=/data/shadowbox-selfsigned.crt
      - SB_PRIVATE_KEY_FILE=/data/shadowbox-selfsigned.key
    volumes:
      - ./data:/data
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - "internal_net"
      - "shadowsocks_net"

networks:
  internal_net:
    driver: bridge
  shadowsocks_net:
    name: shadowsocks_net
    external: true
