services:
  shadowsocks:
    image: quay.io/outline/shadowbox:stable
    container_name: shadowsocks
    restart: always
    ports:
      - "127.0.0.1:8443:443/udp" # Access key port (UDP)
      # - "${SB_KEYS_PORT}:${SB_KEYS_PORT}/tcp"   # Access key port (TCP)
    environment:
      - SB_API_PORT=80
      - SB_STATE_DIR=/data
      - SB_API_PREFIX=${SB_API_PREFIX}
      - SB_CERTIFICATE_FILE=/data/shadowbox-selfsigned.crt
      - SB_PRIVATE_KEY_FILE=/data/shadowbox-selfsigned.key
    volumes:
      - ./data:/data:Z,U
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.tcp.routers.shadowsocks.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.shadowsocks.entrypoints=websecure"
      - "traefik.tcp.services.shadowsocks.loadbalancer.server.port=443"
      - "traefik.tcp.routers.shadowsocks.priority=1" # Lowest priority
      - "traefik.docker.network=traefik_net"

      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"
      # Podman Auto-Update
      - "io.containers.autoupdate=registry"
    networks:
      - traefik_net

networks:
  traefik_net:
    external: true
