services:
  shadowsocks:
    image: quay.io/outline/shadowbox:stable
    container_name: shadowsocks
    restart: always
    ports:
      - "30042:80/tcp" # Management API
      - "443:443/udp" # Access key port (UDP)
      # - "${SB_KEYS_PORT}:${SB_KEYS_PORT}/tcp"   # Access key port (TCP)
    environment:
      - SB_API_PORT=80
      - SB_STATE_DIR=/data
      - SB_API_PREFIX=${SB_API_PREFIX}
      - SB_CERTIFICATE_FILE=/data/shadowbox-selfsigned.crt
      - SB_PRIVATE_KEY_FILE=/data/shadowbox-selfsigned.key
    volumes:
      - ./data:/data
    expose:
      - "9091"
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.tcp.routers.shadowsocks.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.shadowsocks.entrypoints=websecure"
      - "traefik.tcp.services.shadowsocks.loadbalancer.server.port=443"
      - "traefik.tcp.routers.shadowsocks.priority=1" # Lowest priority
      # AutoKuma (uptime-kuma)
      - "kuma.shadowsocks_grp.group.name=Shadowsocks"
      - "kuma.shadowsocks_container.docker.name=Shadowsocks Container"
      - "kuma.shadowsocks_container.docker.docker_container=shadowsocks"
      - "kuma.shadowsocks_container.docker.docker_host_name=local"
      - "kuma.shadowsocks_container.docker.parent_name=shadowsocks_grp"
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - traefik_net

networks:
  traefik_net:
    external: true
