services:
  shadowsocks:
    image: quay.io/outline/shadowbox:stable
    container_name: shadowsocks
    restart: always
    ports:
      - "30042:80/tcp" # Management API
      - "443:443/udp" # Access key port (UDP)
      # - "${SB_KEYS_PORT}:${SB_KEYS_PORT}/tcp"   # Access key port (TCP)
    environment:
      - SB_API_PORT=80
      - SB_STATE_DIR=/data
      - SB_API_PREFIX=${SB_API_PREFIX}
      - SB_CERTIFICATE_FILE=/data/shadowbox-selfsigned.crt
      - SB_PRIVATE_KEY_FILE=/data/shadowbox-selfsigned.key
    volumes:
      - ./data:/data
    expose:
      - "9091"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      # Traefik
      - "traefik.enable=true"
      - "traefik.tcp.routers.shadowsocks.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.shadowsocks.entrypoints=websecure"
      - "traefik.tcp.services.shadowsocks.loadbalancer.server.port=443"
      - "traefik.tcp.routers.shadowsocks.priority=1" # Lowest priority
      # AutoKuma (uptime-kuma)
      - "kuma.shadowsocks_grp.group.name=Shadowsocks"
      - "kuma.shadowsocks_container.docker.name=Shadowsocks Container"
      - "kuma.shadowsocks_container.docker.docker_container=shadowsocks"
      - "kuma.shadowsocks_container.docker.docker_host_name=local"
      - "kuma.shadowsocks_container.docker.parent_name=shadowsocks_grp"
    networks:
      - traefik_net
      - metrics_net

  shadowsocks-metrics-proxy:
    image: alpine/socat:latest
    container_name: shadowsocks-metrics-proxy
    restart: always
    network_mode: "service:shadowsocks"
    command: "TCP-LISTEN:9091,fork,reuseaddr TCP:127.0.0.1:9090"
    depends_on:
      - shadowsocks
    labels:
      # Prometheus
      - "prometheus-scrape.enabled=true"
      - "prometheus-scrape.port=9091"
      - "prometheus-scrape.job_name=shadowsocks"

networks:
  traefik_net:
    external: true
  metrics_net:
    external: true
