services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime_kuma
    restart: unless-stopped
    ports:
      - "30090:3001"
    security_opt:
      - label=type:spc_t
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/uptime_kuma:/app/data
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.http.routers.uptime_kuma.rule=Host(`status.pranaovs.me`) || Host(`uptime.pranaovs.me`)"
      - "traefik.docker.network=traefik_net"
      - "traefik.http.services.uptime_kuma.loadbalancer.server.port=3001"
      - "traefik.http.routers.uptime_kuma.entrypoints=websecure"
      - "traefik.http.routers.uptime_kuma.tls=true"
      - "traefik.http.routers.uptime_kuma.tls.certresolver=le"
      # AutoKuma (uptime-kuma)
      - "kuma.uptime_kuma_grp.group.name=Uptime Kuma"
      - "kuma.uptime_kuma_http_1.http.name=Uptime Kuma (status.pranaovs.me)"
      - "kuma.uptime_kuma_http_1.http.url=https://status.pranaovs.me"
      - "kuma.uptime_kuma_http_1.http.parent_name=uptime_kuma_grp"
      - "kuma.uptime_kuma_http_2.http.name=Uptime Kuma (uptime.pranaovs.me)"
      - "kuma.uptime_kuma_http_2.http.url=https://uptime.pranaovs.me"
      - "kuma.uptime_kuma_http_2.http.parent_name=uptime_kuma_grp"
      - "kuma.uptime_kuma_container.docker.name=Uptime Kuma Container"
      - "kuma.uptime_kuma_container.docker.docker_container=uptime_kuma"
      - "kuma.uptime_kuma_container.docker.docker_host_name=local"
      - "kuma.uptime_kuma_container.docker.parent_name=uptime_kuma_grp"
    networks:
      - default
      - traefik_net

  autokuma:
    image: ghcr.io/bigboot/autokuma:latest
    restart: always
    environment:
      AUTOKUMA__KUMA__URL: http://uptime_kuma:3001
    env_file: ".env"
    security_opt:
      - label=type:spc_t
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/autokuma:/data
    labels:
      # AutoKuma docker setup
      - "kuma.local.docker_host.name=Docker socket"
      - "kuma.local.docker_host.connection_type=socket"
      - "kuma.local.docker_host.path=/var/run/docker.sock"
      # AutoKuma (uptime-kuma)
      - "kuma.autokuma_container.docker.name=AutoKuma Container"
      - "kuma.autokuma_container.docker.docker_container=uptime-kuma-autokuma-1"
      - "kuma.autokuma_container.docker.docker_host_name=local"
      - "kuma.autokuma_container.docker.parent_name=uptime_kuma_grp"

networks:
  traefik_net:
    external: true
