services:
  uptimekuma:
    image: louislam/uptime-kuma:2
    container_name: uptimekuma
    restart: unless-stopped
    ports:
      - "30090:3001"
    security_opt:
      - label=type:spc_t
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/uptime_kuma:/app/data
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.http.routers.uptimekuma-https.rule=Host(`status.pranaovs.me`) || Host(`uptime.pranaovs.me`)"
      - "traefik.http.routers.uptimekuma-https.entrypoints=websecure"
      - "traefik.http.routers.uptimekuma-https.service=uptimekuma"

      - "traefik.http.routers.uptimekuma-ts.rule=Host(`status.devserver.ts.net`) || Host(`uptime.devserver.ts.net`) || Host(`status.devserver`) || Host(`uptime.devserver`)"
      - "headnscale.subdomain=status|uptime"
      - "traefik.http.routers.uptimekuma-ts.entrypoints=web"
      - "traefik.http.routers.uptimekuma-ts.service=uptimekuma"

      - "traefik.http.services.uptimekuma.loadbalancer.server.port=3001"
      - "traefik.docker.network=traefik_net"
      # AutoKuma (uptime-kuma)
      - "kuma.uptime_kuma_grp.group.name=Uptime Kuma"
      - "kuma.uptime_kuma_http_1.http.name=Uptime Kuma (status.pranaovs.me)"
      - "kuma.uptime_kuma_http_1.http.url=https://status.pranaovs.me"
      - "kuma.uptime_kuma_http_1.http.parent_name=uptime_kuma_grp"
      - "kuma.uptime_kuma_http_2.http.name=Uptime Kuma (uptime.pranaovs.me)"
      - "kuma.uptime_kuma_http_2.http.url=https://uptime.pranaovs.me"
      - "kuma.uptime_kuma_http_2.http.parent_name=uptime_kuma_grp"
      - "kuma.uptime_kuma_container.docker.name=Uptime Kuma Container"
      - "kuma.uptime_kuma_container.docker.docker_container=uptimekuma"
      - "kuma.uptime_kuma_container.docker.docker_host_name=local"
      - "kuma.uptime_kuma_container.docker.parent_name=uptime_kuma_grp"
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - default
      - traefik_net

  autokuma:
    image: ghcr.io/bigboot/autokuma:latest
    restart: always
    container_name: autokuma
    environment:
      AUTOKUMA__KUMA__URL: http://uptimekuma:3001
    env_file: ".env"
    security_opt:
      - label=type:spc_t
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/autokuma:/data
    depends_on:
      - uptimekuma

    labels:
      # AutoKuma docker setup
      - "kuma.local.docker_host.name=Docker socket"
      - "kuma.local.docker_host.connection_type=socket"
      - "kuma.local.docker_host.path=/var/run/docker.sock"
      # AutoKuma (uptime-kuma)
      - "kuma.autokuma_container.docker.name=AutoKuma Container"
      - "kuma.autokuma_container.docker.docker_container=autokuma"
      - "kuma.autokuma_container.docker.docker_host_name=local"
      - "kuma.autokuma_container.docker.parent_name=uptime_kuma_grp"
      # Group for CTF Tools
      - "kuma.ctf_grp.group.name=CTF"
      # DNS Monitor
      - "kuma.dns_grp.group.name=DNS"
      - "kuma.dns_a.dns.name=pranaovs.me A"
      - "kuma.dns_a.dns.hostname=pranaovs.me"
      - "kuma.dns_a.dns.parent_name=dns_grp"
      - "kuma.dns_a.dns.dns_resolve_type=A"
      - "kuma.dns_aaaa.dns.name=pranaovs.me AAAA"
      - "kuma.dns_aaaa.dns.hostname=pranaovs.me"
      - "kuma.dns_aaaa.dns.dns_resolve_type=AAAA"
      - "kuma.dns_aaaa.dns.parent_name=dns_grp"

networks:
  traefik_net:
    external: true
