services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime_kuma
    restart: unless-stopped
    ports:
      - "30090:3001"
    security_opt:
      - label=type:spc_t
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data:/app/data
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.http.routers.uptime_kuma.rule=Host(`status.pranaovs.me`) || Host(`uptime.pranaovs.me`)"
      - "traefik.docker.network=traefik_net"
      - "traefik.http.services.uptime_kuma.loadbalancer.server.port=3001"
      - "traefik.http.routers.uptime_kuma.entrypoints=websecure"
      - "traefik.http.routers.uptime_kuma.tls=true"
      - "traefik.http.routers.uptime_kuma.tls.certresolver=le"
    networks:
      - default
      - traefik_net

  autokuma:
    image: ghcr.io/bigboot/autokuma:latest
    restart: unless-stopped
    environment:
      AUTOKUMA__KUMA__URL: http://uptime_kuma:3001
    env_file: ".env"
    security_opt:
      - label=type:spc_t
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data:/data

networks:
  traefik_net:
    external: true
