services:
  backend:
    image: ghcr.io/deepan-alve/stacked-backend:latest
    container_name: stacked-backend
    restart: unless-stopped
    labels:
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"
    env_file: .env
    volumes:
      - ./data:/data
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000/api/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  frontend:
    image: ghcr.io/deepan-alve/stacked-frontend:latest
    restart: unless-stopped
    container_name: stacked-frontend
    env_file: .env
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.http.routers.stacked-frontend.rule=Host(`stacked.deepanalve.dev`)"
      - "traefik.http.services.stacked-frontend.loadbalancer.server.port=80"
      - "traefik.http.routers.stacked-frontend.entrypoints=websecure"
      - "traefik.http.routers.stacked-frontend.middlewares=anubis@docker"
      - "traefik.docker.network=traefik_net"
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"
    healthcheck:
      test: ["CMD", "curl", "-q", "http://localhost:80"]
    networks:
      - default
      - traefik_net

  autokuma:
    image: busybox:latest
    container_name: stacked-autokuma
    restart: always
    command: ["sleep", "infinity"]
    healthcheck:
      test: ["CMD", "sleep", "0"]
    labels:
      # AutoKuma (uptime-kuma)
      - "kuma.stacked_grp.group.name=Stacked DB"
      - 'kuma.stacked_grp.group.notification_name_list=["ntfy"]'
      - "kuma.stacked_backend_container.docker.name=Stacked DB Backend Container"
      - "kuma.stacked_backend_container.docker.docker_container=stacked-backend"
      - "kuma.stacked_backend_container.docker.docker_host_name=local"
      - "kuma.stacked_backend_container.docker.parent_name=stacked_grp"

      - "kuma.stacked_http_1.http.name=Stacked DB (stacked.deepanalve.dev)"
      - "kuma.stacked_http_1.http.url=https://stacked.deepanalve.dev"
      - "kuma.stacked_http_1.http.parent_name=stacked_grp"
      - "kuma.stacked_frontend_container.docker.name=Stacked DB Frontend Container"
      - "kuma.stacked_frontend_container.docker.docker_container=stacked-frontend"
      - "kuma.stacked_frontend_container.docker.docker_host_name=local"
      - "kuma.stacked_frontend_container.docker.parent_name=stacked_grp"
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"

networks:
  traefik_net:
    external: true
